@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background: url(./images/star-mobile1.svg) top 91px left 37px no-repeat,
                    url(./images/star-mobile2.svg) top 64px left 91px no-repeat,
                    url(./images/star-mobile3.svg) bottom 74px right 86px no-repeat,
                    url(./images/star-mobile4.svg) bottom 28px right 34px no-repeat,
                    url(./images/star-mobile5.svg) top -84px right -92px no-repeat;
        background-color: $color-bg;
        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
            max-width: 262px;
        }
        &__text {
            color: $color-base;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            // padding-top: 24px; логично было бы снизить на 1/4 - т.е. до 16px
            padding-bottom: 36px;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            padding: 16px 84px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
        }
    }
    .stripe {
        overflow-x: hidden;
        padding: 17px 18px;
        gap: 27px;
        &__text {
            font-size: 16px;
        }
        &__img {
            width: 20px;
        }
    }
    .about {
        display: none;
    }
    .games {
        padding-top: 48px;
        padding-bottom: 10px;
        background: none;
        background-color: $color-base;
        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
        }
        &__content {
            padding-top: 48px;
            gap: 24px;
        }

    }
    .game {
        flex-direction: column-reverse;
        max-width: 343px;
        &:nth-child(2n) {
            flex-direction: column-reverse;
        }
        &__info {
            padding-top: 29px;
            padding-left: 29px;
            padding-right: 29px;
            padding-bottom: 32.67px;
        }
        &__name {
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            padding-bottom: 16px;
        }
        &__desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding-bottom: 32px;
            max-width: 272px;
            &_last {
                max-width: 244px;
            }
        }
        &__button {
            padding: 16px 110.5px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
        }
        &__image {
            border-radius: 30px;
        }
    }
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
        &__text {
            color: $color-base;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
        }
    }
}