@import 'vars';

* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top {
    background-color: $color-bg;
    padding-top: 196px;
    padding-bottom: 246px;
    position: relative;
    &__title {
        color: $color-base;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }
    &__text {
        color: $color-base;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 48px;
    }
    &__text-word {
        font-weight: bold;
        color: $color-base;
    }
    &__text-link {
        font-weight: bold;
        color: $color-base;
    }
    &__button {
        box-sizing: border-box;
        border: 1px solid $color-base;
        border-radius: 60px;
        background-color: $color-base;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        padding: 16px 65px;
        cursor: pointer;
        transition: 1s ease;
        &:hover {
            border: 1px solid #000000;
            background-color: transparent;
            color: #000000;
        }
    }
    &__star {
        &:nth-child(1) {
            position: absolute;
            top: 94px;
            left: 63px;
        }
        &:nth-child(2) {
            position: absolute;
            top: 69px;
            left: 156px;
        }
        &:nth-child(3) {
            position: absolute;
            top: 538px;
            right: 455px;
        }
        &:nth-child(4) {
            position: absolute;
            top: 568px;
            right: 344px;
        }
        &:nth-child(5) {
            position: absolute;
            bottom: -87px;
            right: -495px;
        }
    }
}
.stripe {
    position: absolute; // Чтобы "бегущая полоса" была выше svg-файла большой звезды
    background-color: #BCEC30;
    padding: 27px 49px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 51px;
    align-items: center;
    &__text {
        color: $color-base;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        white-space: nowrap
    }
}
.about {
    background-color: $color-base;
    margin-top: 90px;
    padding-top: 94px;
    padding-bottom: 96px;
    position: relative;
    &__star {
        position: absolute;
        top: 105px;
        right: 0px;
    }
    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }
    &__desc {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
    }
}