@import 'vars';

* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top {
    padding-top: 196px;
    padding-bottom: 156px;
    background: url(./images/star1.svg) top 94px left 63px no-repeat,
                url(./images/star2.svg) top 69px left 156px no-repeat,
                url(./images/star3.svg) bottom 135px right 455px no-repeat,
                url(./images/star4.svg) bottom 59px right 344px no-repeat,
                url(./images/star5.svg) bottom -84px right -495px no-repeat;
    background-color: $color-bg;
    &__title {
        color: $color-base;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        max-width: 768px;
    }
    &__text {
        color: $color-base;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 48px;
        max-width: 720px;
    }
    &__text-link {
        font-weight: bold;
        color: $color-base;
    }
    &__button {
        box-sizing: border-box;
        border: 1px solid $color-base;
        border-radius: 60px;
        background-color: $color-base;
        color: $color-text;
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        padding: 16px 65px;
        cursor: pointer;
        transition: 1s ease;
        &:hover {
            border: 1px solid $color-base;
            background-color: transparent;
            color: $color-base;
        }
    }
}
.stripe {
    background-color: $color-stripe;
    padding: 27px 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 51px;
    align-items: center;
    &__text {
        color: $color-base;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        white-space: nowrap;
    }
}
.about {
    padding-top: 94px;
    padding-bottom: 50px;
    background: url(./images/star-about-1.svg) top 108px right -142px no-repeat,
                url(./images/star-about-2.svg) top 770px left 25px no-repeat,
                url(./images/star-about-3.svg) top 822px left 40px no-repeat;
    background-color: $color-base;
    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }
    &__desc {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 72px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 32px;
    }
}
.card {
    background-color: $color-text;
    max-width: 378px;
    border-radius: 30px;
    &__image {
        &_fist {
            position: relative;
        }
    }
    &__info {
        padding: 32px 32px 36px 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__number {
        color: $color-base;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        box-sizing: border-box;
        padding: 10px 16px;
        border-radius: 52.58px;
        background-color: #F7F7F7;
        max-width: 108px;
    }
    &__name {
        color: $color-base;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        max-width: 300px;
    }
    &_stretch {
        margin-top: -39px; // растягивание левой и правой карточек
    }
}
.games {
    padding-top: 46px;
    padding-bottom: 144px;
    background: url(./images/star-games-top-1.svg) top 93px right 124px no-repeat,
                url(./images/star-games-top-2.svg) top 126px right 45px no-repeat,
                url(./images/star-games-bottom-1.svg) bottom 65px right 52px no-repeat,
                url(./images/star-games-bottom-2.svg) bottom 45px right 150px no-repeat;
    background-color: $color-base;
    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }
    &__content {
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
    }
}
.game {
    background-color: $color-text;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:nth-child(2n) {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    &__info {
        padding-top: 48px;
        padding-left: 48px;
    }
    &__name {
        color: $color-base;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-bottom: 24px;
        max-width: 450px;
    }
    &__desc {
        color: $color-base;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 36px;
        max-width: 420px;
        &_last {
            max-width: 496px;
        }
    }
    &__button {
        box-sizing: border-box;
        border: 1px solid $color-base;
        border-radius: 60px;
        background-color: $color-base;
        color: $color-text;
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        padding: 16px 75.5px;
        text-align: center;
        cursor: pointer;
        transition: 1s ease;
        &:hover {
            border: 1px solid $color-base;
            background-color: transparent;
            color: $color-base;
        }
    }
    &__image {
        // width: 100%;
    }
}
.footer {
    background-color: $color-footer;
    padding-top: 61px;
    padding-bottom: 60px;
    &__text {
        color: $color-base;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
    }
}

@import 'mobile';